@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  --vp-c-brand-1: #c19ee0;
  --vp-c-brand: #b38fd3;
  --vp-c-brand-light: #ad80d6;
  --vp-c-brand-lighter: #c19ee0;
  --vp-c-brand-lightest: #d2b7e5;
  --vp-c-brand-dark: #7251b5;
  --vp-c-brand-darker: #6247aa;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);

  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand-light) 50%,
    var(--vp-c-brand-darker) 50%
  );
  --vp-home-hero-image-filter: blur(55px);
}

html,
body {
  background-color: var(--vp-c-bg) !important;
}

button.copy::after {
  top: 0;
  width: 40px;
  height: 40px;
  color: var(--vp-icon-copy);
  background-size: contain;
}

#VPSidebarNav > .group {
  @apply border-t-0;

  & > .VPSidebarItem {
    @apply pb-2;

    & > .items {
      & > div {
        @apply pl-4 mb-0.5 dark:border-l-gray-600 rounded-lg;

        &:hover,
        &:focus {
          background-color: var(--vp-c-brand-nav-active);
        }

        &.is-active.has-active {
          background-color: var(--vp-c-brand-nav-active);
        }
      }
    }
  }
}

.custom-block.tip {
  @apply !my-8 !rounded-xl !shadow-2xl !shadow-green-200/20 dark:!shadow-green-700/30;
}

.vp-doc > * > video {
  @apply rounded-lg shadow-xl;
}
